<div *ngIf="code$ | async; let currentCode">
        <label>Cart Total:</label>{{cartTotalAmount | conversion: currentCode 
            | currency: currentCode}}
        <div *ngIf="cartList.length> 0 else emptyCart">
        <div *ngFor="let item of cartList ">
            <app-cart-product 
            [currencyCode]="currentCode" 
            (btnClick)="removeItem($event)"
            (quantityChange)="refreshCartTotal()" 
            [data]="item">
        </app-cart-product>
        </div>
    </div>
</div>
<ng-template #emptyCart>
    <h3>Cart is Empty</h3>
</ng-template>