<!-- <h1>App Component</h1>
<app-demo></app-demo> -->

<!--  <app-product></app-product>  

app-checkout></app-checkout>
<input type="text" appUppercase/>
<input type="text" appNumbersOnly="6"/>
<app-linkedin-form></app-linkedin-form>
<app-product-list></app-product-list> 
<app-search></app-search>

-->
<h1>Finasta Products</h1>
<!-- <app-header></app-header> -->

<!-- <a href="/">Home</a> -->
<a routerLink="/">Home</a>
<div>
    <a routerLink="/products">Products</a>
</div>

<!--<a routerLink="/orders">Orders</a> 
<a routerLink="/orders">Orders</a> -->

<!-- <app-footer></app-footer>


<app-loading-spinner></app-loading-spinner> 
-->
<div>
    <a routerLink="/cart">Cart</a> 
</div>
<app-currency></app-currency>


<router-outlet></router-outlet>  
<h1>Finasta Products</h1>